<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>信息详细页面</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resource/css/public.css" media="all"/>
</head>
<style>
    .layui-Myinput {
        width: 130%;
    }
</style>
<body class="index">

<form class="layui-form" action="" style="margin:auto;margin-top:30px">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input th:value="${user.number}" lay-verify="required"
                       class="layui-input layui-Myinput" disabled="disabled" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input th:value="${user.userName}" lay-verify="required"
                       class="layui-input layui-Myinput" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input  th:value="${user.realName}" lay-verify="required"
                       class="layui-input layui-Myinput" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input  th:value="${user.iphone}" class="layui-input layui-Myinput"
                       lay-verify="phone" disabled="disabled" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input th:value="${user.sex}" class="layui-input layui-Myinput"
                       lay-verify="phone" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input  th:value="${user.createdDate}" class="layui-input layui-Myinput" disabled="disabled" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-block">
                <input  th:value="${user.updatedDate}" class="layui-input layui-Myinput" disabled="disabled" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input th:value="${user.address}" class="layui-input layui-Myinput"
                       disabled="disabled"/>
            </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input th:value="${user.email}" class="layui-input layui-Myinput"
                       disabled="disabled"/>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>


</body>
</html>